@model List<DownloadMusicViewModel>

<!-- Category section -->
<section class="category-section spad">
    <div class="container-fluid">
        <div class="section-title text-right">
            <h2>برترین ها</h2>
        </div>
        <div class="container" style="visibility: hidden;">
            <div class="category-links">
                <a href="" class="active"></a>
            </div>
        </div>
        <div class="category-items">
            <div class="row">

                <div class="col-md-4">
                    <div class="category-item">
                        <img src="~/img/playlist/9.jpg" alt="">
                        <div class="ci-text">
                            <h4>بابک جهانبخش</h4>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="category-item">
                        <img src="~/img/playlist/2.jpg" alt="">
                        <div class="ci-text">
                            <h4>بابک جهانبخش</h4>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="category-item">
                        <img src="~/img/playlist/7.jpg" alt="">
                        <div class="ci-text">
                            <h4>بابک جهانبخش</h4>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->
<!-- Playlist section -->
<section class="playlist-section spad">
    <div class="container-fluid" style="direction: rtl">
        <div class="section-title text-right">
            <h2>لیست پخش</h2>
        </div>
        <div class="container">
            <ul class="playlist-filter controls text-right">
                <li class="control" data-filter="all">جدیدترین ها</li>
                <li class="control" data-filter=".labels">برترین ها</li>
                <li class="control" data-filter=".movies">تک آهنگ</li>
                <li class="control" data-filter=".genres">به زودی..</li>
            </ul>
        </div>

        <div class="clearfix"></div>
        <div class="row playlist-area">

            @foreach (var item in Model)
            {

                <div class="mix col-lg-3 col-md-4 col-sm-6 genres" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/7.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">@item.Vocalist</h6>
                            <p>@item.TitleMusic</p>
                        </div>
                        <a asp-action="Artist" asp-route-id="@item.Id" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


@*                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/7.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 movies" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/15.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 labels" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/1.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/2.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>

                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/3.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>

                <div class="mix col-lg-3 col-md-4 col-sm-6 genres" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/4.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/5.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 movies" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/6.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 labels" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/7.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/8.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>

                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/9.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>

                <div class="mix col-lg-3 col-md-4 col-sm-6 genres" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/10.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/11.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 movies" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/12.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 labels" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/13.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/14.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>

                    </div>
                </div>


                <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/15.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">بابک جهانبخش</h6>
                            <p>صدای عشق</p>
                        </div>
                        <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
*@
            }
        </div>
    </div>
</section>
<!-- Playlist section end -->
