@model List<DownloadMusicViewModel>

<!-- Help section end -->
<section class="help-section pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex h-100 align-items-end">
                    <form class="search-form">
                        <input class="text-center" type="text" placeholder="بنویسش">
                        <button>جستجو</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Help section end -->


<!-- Playlist section -->
<section class="playlist-section ">
    <div class="container-fluid">
        <div class="section-title text-right">
            <h2>لیست پخش</h2>
        </div>
        <div class="clearfix"></div>
        <div class="row playlist-area">
            @foreach (var item in Model)
            {

                <div class="mix col-lg-3 col-md-4 col-sm-6 genres" style="margin-bottom: 40px;">
                    <div class="category-item">
                        <img src="~/img/playlist/7.jpg" alt="">
                        <div class="ci-text">
                            <h6 style="color: white ">@item.Vocalist</h6>
                            <p>@item.TitleMusic</p>
                        </div>
                        <a asp-action="Artist" asp-route-id="@item.Id" class="ci-link"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Playlist section end -->
