
<!-- Help section end -->
<section class="help-section pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex h-100 align-items-end">
                    <form class="search-form">
                        <input class="text-center" type="text" placeholder="بنویسش">
                        <button>جستجو</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 rtl text-right">
                <div class="section-title mb-0 pt-4">
                    <h2 class="line-height">برای یافتن موسیقی به کمک نیاز دارید؟ </h2>
                </div>
                <p class="rtl text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                    طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                    فعلی تکنولوژی مورد نیاز </p>
            </div>
        </div>
    </div>
</section>
<!-- Help section end -->

<!-- Playlist section -->
<section class="playlist-section ">
    <div class="container-fluid">
        <div class="section-title text-right">
            <h2>لیست پخش</h2>
        </div>
        <div class="clearfix"></div>
        <div class="row playlist-area">

            <div class="mix col-lg-3 col-md-4 col-sm-6 genres" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/13.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/7.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 movies" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/15.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 labels" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/1.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/2.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>

                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/3.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>

            <div class="mix col-lg-3 col-md-4 col-sm-6 genres" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/4.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/5.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 movies" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/6.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 labels" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/7.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/8.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>

                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/9.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>

            <div class="mix col-lg-3 col-md-4 col-sm-6 genres" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/10.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/11.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 movies" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/12.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 labels" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/13.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/14.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>

                </div>
            </div>


            <div class="mix col-lg-3 col-md-4 col-sm-6 artists" style="margin-bottom: 40px;">
                <div class="category-item">
                    <img src="~/img/playlist/15.jpg" alt="">
                    <div class="ci-text">
                        <h6 style="color: white ">بابک جهانبخش</h6>
                        <p>صدای عشق</p>
                    </div>
                    <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Playlist section end -->
